body{
    background: linear-gradient(90deg, grey, white, grey);
    font-family: 'Courier New', Courier, monospace;
    margin: 24px;
}

h1{
    display: flex;
    justify-self: center;
}

form{
/* border: solid; */
display: flex;
justify-content: center;
}

#containerTime{
    /* border: solid; */
    display: flex;
    justify-content: center;
    justify-self: center;
}

img{
display: flex;
justify-self: center;
width: auto;
}

@media (max-width: 600px) {
    body{
    background: linear-gradient(90deg, grey, white, grey);
    font-family: 'Courier New', Courier, monospace;
    margin: 12px;
    }
h1{
    display: flex;
    justify-self: center;
    font-size: x-large;
}
#containerTime{
    border: solid;
    display: flex;
    justify-content: center;
    justify-self: center;
    font-size: small;
}
    img{
display: flex;
justify-self: center;
width: 300px;
}
}